<footer class="footer">
  
  <div class="socialmedia">
    <h3>Follow Us :</h3>
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/20/20837.png" alt="">
    <img src="https://cdn-icons-png.flaticon.com/128/11823/11823292.png" alt="">
    <img src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png" alt="">
    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077046.png" alt=""> -->
    <p >LinkedIn</p>
    <p >Twitter</p>
    <p >Instagram</p>
    <p >Telegram</p>
  </div>

  <div class="f-about">
    <h3>About</h3>
    <p><a href="/about">About Us</a></p>
    <p><a href="/term-and-condition">Terms & Condition</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>

  <div class="f-contact">
    <!-- <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>  -->
    <h3>Contact</h3>
    <p><strong>InnovateIT</strong></p>
    <p><strong>email : </strong>info@navoditainfotech.com</p>
    <p><strong>Address : </strong>Runal Specio, Pune, 412101</p>
  </div>

  
  <!-- &copy;  %> Developed by gauravXdev • -->
  </footer> 
  <footer class="copyright"><p> &copy; 2024 InnovateIT. All Rights Reserved. By InnovateIT</p></footer>