<header class="header">
    <nav class="navbar">
      <div class="logo">
          <img src="/images/logo.png" alt="">
      </div>   
      <ul class="nav-links">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/about">About Us</a>
          </li>
          <li>
              <a href="/contact">Contact</a>
          </li>
      </ul>
      <!-- <a href="/user" class=" login-btn">Sign in</a> -->
      
      <div class="toggle-btn">
          <i class="fa-solid fa-bars"></i>
      </div>
  </nav>
  
  <nav class="sidebar open">        
      <ul class="side-links">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/about">About Us</a>
          </li>
          <li>
              <a href="/contact">Contact</a>
          </li>
          <!-- <li>
              <a href="/user" class="">Sign in</a>
          </li> -->
      </ul>
  </nav>
  
  </header>