<section class="landingPage">

    <div class="hero">
        <h1>Make your <span class="fancy">dream career</span> a <span class="fancy">Reality</span></h1><br>
        <h2>with <span class="fancy">InnovateIT</span></h2>
        <a href="/internship" class="btn">Apply now</a>
    </div>
    <div class="hero-img">
        <img src="/images/5510785.jpg" alt="">
    </div>

</section> 

<section class="sub-section">

    <div>
        <h2>Company Mission</h2>
        <p>At <span style="font-weight: 400; color: #385b66;" >InnovateIT</span>, our mission is to harness the power of technology to drive success for our clients. We believe that through innovation, expertise, and dedication, we can help businesses of all sizes navigate the complex world of IT and achieve their goals.</p>
    </div><br><br>

    <div>
        <h2>Why Choose Navodita Infotech:</h2>
        <p>At InnovateIT, we recognize that the choice of where to kickstart your journey into the world of data analysis is crucial. Here's why choosing InnovateIT is a decision that sets you on the path to success:</p><br>
        <div class="wrapper-box">

            <div class="wrapper" id="exp">
                <input type="checkbox" name="expertise" id="expertise">
                <label for="expertise">1. Industry-Relevant projects :</label>
                <div class="expertise-text wtext">
                    <p class="wp">Go beyond the basics, focusing on the skills demanded by today's data-driven industries. From data visualization to machine learning, our programs are designed to make you proficient in the tools and techniques that employers value.
                    </p>
                </div>
            </div>
            <div class="wrapper" id="inn">
                <input type="checkbox" name="innovation" id="innovation">
                <label for="innovation">2. Networking Opportunities :</label>
                <div class="innovation-text wtext">
                    <p class="wp">InnovateIT helps you to connect with peers. Build a network that lasts beyond your internship, opening doors to future opportunities and collaborations in the data analysis community.
                    </p>
                </div>
            </div>
            <div class="wrapper" id="clt">
                <input type="checkbox" name="client" id="client">
                <label for="client">3. Innovation and Creativity :</label>
                <div class="client-text wtext">
                    <p class="wp">InnovateIT is a hub for creativity and innovation, where you're not just learning existing methods but also contributing to the evolution of data analysis.
                    </p>
                </div>
            </div>
            <div class="wrapper" id="qly">
                <input type="checkbox" name="quality" id="quality">
                <label for="quality">4. Proven Track Record :</label>
                <div class="quality-text wtext">
                    <p class="wp">Join a community of success stories. Many of our interns have gone on to secure coveted positions in leading organizations, attributing their success to the practical skills and insights gained during their time with InnovateIT.
                    </p>
                </div>
            </div>
            <div class="wrapper" id="cdi">
                <input type="checkbox" name="comdi" id="comdi">
                <label for="comdi">5. Commitment to Diversity and Inclusion :</label>
                <div class="comdi-text wtext">
                    <p class="wp">We believe in the strength of diverse perspectives. InnovateIT is committed to creating an inclusive environment, welcoming students from all backgrounds to contribute and thrive.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>