<style>
    :root {
        --primary: #385b66;
        --secondary: #bddaa5;
    }
    .internship-page {
        margin-top: 5rem;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .intern-details, .domains {
        padding: 30px;
    }
    .intern-details ul {
        margin-left: 20px;
    }
    .domains ul {
        margin-left: 35px;
    }
    .intern-details span {
        font-weight: 600;
    }
    .domains ul li {
        list-style-type: disc;
    }
    .links img {
        height: 40px;
        width: 40px;
        margin: 20px;
    }
    .links {
        margin-bottom: 30px;
    }
    .faqs {
        margin: 0px 50px;
    }
    .que {
        /* background-color: rgb(147, 240, 147); */
        padding: 10px;
        color: var(--primary);
        font-weight: 500;
    }
    .ans {
        padding: 10px 15px;
        
    }
    .hide {
        display: none;
        opacity: 0;
    }
    i {
        margin-right: 5px;
    }
</style>

<section class="internship-page">

    <h1 style="text-align: center; color: var(--primary);">The InfotechIT Team</h1>
    <p>We invite you to dive into our current internship opportunities and apply for the upcoming openings. Your journey with InnovateIT starts here!</p>

    <div class="container">
        <div class="intern-details">
            <h3>Internship details</h3>
            <ul>
                <li><span>Duration: </span>1 month</li>
                <li><span>Last date of Registration: </span>7 May 2024</li>
                <li><span>Internship starting date: </span>10 May 2024</li>
                <li><span>Offer letter will be issued: </span>8 May 2024</li>
                <li><span>Internship task assigned: </span>10 May 2024</li>
                <li><span>Location: </span>Work from home</li>
                <li><span>Perks: </span>Offer letter and Completion certificate</li>
            </ul>

            <p style="margin-top: 20px; font-weight: 500; color: rgb(158, 11, 11);">Students who applied for internship at Navodita Infotech in last six months are not eligible to apply again.</p>

            <p style="margin-top: 20px;"><a href="">Google form</a></p>
        </div>

        <div class="domains">
            <h3>Internship domains:</h3>
            <ul>
                <li>Data analysis</li>
                <li>Full stack development</li>
                <li>Web development</li>
                <li>Data science</li>
                <li>Machine learning</li>
                <li>Artificial Intelligence</li>
            </ul>
        </div>
    </div>

    <div class="social-links">
        <h3>Follow Us for Internship Updates:</h3>
        <div class="links">
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/5968/5968830.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/3536/3536445.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/2504/2504941.png" alt=""></a>
            <!-- <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-telegram" aria-hidden="true"></i></a> -->
        </div>
    </div>

    <div class="faqs" style="margin-bottom: 50px;">

        <h3 style="margin-bottom: 20px;">Frequently asked questions (FAQs): </h3>
        <div class="faq">
            <div class="que" id="que-a" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-a" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-a" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    What is duration of internship?
                </p>
            </div>
            <div class="ans ans-a hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>Duration of internship will be of 1 month.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-b" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-b" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-b" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    What will be the type of my internship project?
                </p>
            </div>
            <div class="ans ans-b hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>You'll be assigned projects/tasks related to your internship domain.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-c" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-c" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-c" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    How to complete assigned projects?
                </p>
            </div>
            <div class="ans ans-c hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>You are required to independently complete one task of your choice from the task list provided along with your offer letter, within your selected internship domain. You can take help of your friends and colleagues for any doubts within task.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-d" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-d" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-d" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    Do you provide any training?
                </p>
            </div>
            <div class="ans ans-d hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>We provide YouTube videos with the task list. Feel free to watch them if you find them helpful.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-e" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-e" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-e" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    What is the location of internship?
                </p>
            </div>
            <div class="ans ans-e hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>All our internships are work from home and virtual.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-f" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-f" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-f" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    Is there any Stipend for these Internships?
                </p>
            </div>
            <div class="ans ans-f hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>No, you will only get Internship Offer Letter & Internship Completion Certificate.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-g" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-g" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-g" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    When we will get certificate?
                </p>
            </div>
            <div class="ans ans-g hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>You will receive your internship completion certificate within two days after completion of your internship duration and task submission.</p>
            </div>
        </div>
        <div class="faq">
            <div class="que" id="que-h" style="border: 1px solid rgb(148, 145, 145);">
                <p><i id="plus-h" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i id="minus-h" class="fa fa-minus-circle hide" aria-hidden="true"></i>
                    How to get Letter of Recommendation (LOR)?
                </p>
            </div>
            <div class="ans ans-h hide" style="border: 1px solid rgb(148, 145, 145);">
                <p>After completion of respective Internship batch we will send you LOR request form along with Internship Completion Certificate. Fill the LOR request form to issue LOR</p>
            </div>
        </div>


    </div>

</section>


<script>


const ansA = document.querySelector(".ans-a");
const plusA = document.querySelector("#plus-a");
const minusA = document.querySelector("#minus-a");
document.getElementById("que-a").onclick = () => {
    ansA.classList.toggle("hide");
    plusA.classList.toggle("hide");
    minusA.classList.toggle("hide");
};
const ansB = document.querySelector(".ans-b");
const plusB = document.querySelector("#plus-b");
const minusB = document.querySelector("#minus-b");
document.getElementById("que-b").onclick = () => {
    ansB.classList.toggle("hide");
    plusB.classList.toggle("hide");
    minusB.classList.toggle("hide");
};
const ansC = document.querySelector(".ans-c");
const plusC = document.querySelector("#plus-c");
const minusC = document.querySelector("#minus-c");
document.getElementById("que-c").onclick = () => {
    ansC.classList.toggle("hide");
    plusC.classList.toggle("hide");
    minusC.classList.toggle("hide");
};
const ansD = document.querySelector(".ans-d");
const plusD = document.querySelector("#plus-d");
const minusD = document.querySelector("#minus-d");
document.getElementById("que-d").onclick = () => {
    ansD.classList.toggle("hide");
    plusD.classList.toggle("hide");
    minusD.classList.toggle("hide");
};
const ansE = document.querySelector(".ans-e");
const plusE = document.querySelector("#plus-e");
const minusE = document.querySelector("#minus-e");
document.getElementById("que-e").onclick = () => {
    ansE.classList.toggle("hide");
    plusE.classList.toggle("hide");
    minusE.classList.toggle("hide");
};
const ansF = document.querySelector(".ans-f");
const plusF = document.querySelector("#plus-f");
const minusF = document.querySelector("#minus-f");
document.getElementById("que-f").onclick = () => {
    ansF.classList.toggle("hide");
    plusF.classList.toggle("hide");
    minusF.classList.toggle("hide");
};
const ansG = document.querySelector(".ans-g");
const plusG = document.querySelector("#plus-g");
const minusG = document.querySelector("#minus-g");
document.getElementById("que-g").onclick = () => {
    ansG.classList.toggle("hide");
    plusG.classList.toggle("hide");
    minusG.classList.toggle("hide");
};
const ansH = document.querySelector(".ans-h");
const plusH = document.querySelector("#plus-h");
const minusH = document.querySelector("#minus-h");
document.getElementById("que-h").onclick = () => {
    ansH.classList.toggle("hide");
    plusH.classList.toggle("hide");
    minusH.classList.toggle("hide");
};

</script>