<section class="other-section">

    <h1 class="head-primary">Privacy Policy</h1>
    <p class="sub-text">Last updated: 03-03-24</p><br>

    <p>The core team at InnovateIT operates [your website URL] this site. This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Site and the choices you have associated with that data.
    </p><br>

    <h4>Information Collection and Use</h4>
    <p>We collect several different types of information for various purposes to provide and improve our service to you. The services mainly include assessment of user data to better reach our target audience and also to develop user's final certificates through the provided information and credetials.
    </p><br>

    <h4>Types of Data Collected</h4>
    <p><strong>Personal Data :</strong> While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include-
    </p><br>

    <ul style="margin-left: 1rem;">
        <li>Email address</li>
        <li>First name and last name</li>
        <li>Phone number</li>
        <li>Address, State, Province, ZIP/Postal code, City</li>
        <li>Usage Data: We may also collect information on how the Site is accessed and used.</li>
    </ul>

</section>